.banner
  border-radius: 30px
  &-sale
    width: 100%
    display: flex
    flex-direction: row
    background-color: rgba(132, 219, 128, 0.26)
    position: relative
  &-wrapper
    padding-top: 75px
    padding-left: 60px
    padding-bottom: 60px
    @media screen and ( max-width: 1200px )
      padding: 45px
    @media screen and ( max-width: 450px )
      padding: 30px
  &-heading
    font-weight: 700
    font-size: 80px
    color: $lightGreen
    margin-bottom: 49px
    @media screen and ( max-width: 1000px )
      font-size: 50px
    @media screen and ( max-width: 550px )
      font-size: 28px
      margin-bottom: 20px

  &-advantages
    display: flex
    flex-direction: row
    margin-bottom: 80px
    @media screen and ( max-width: 550px )
      flex-wrap: wrap
      margin-bottom: 30px
    &__item
      font-weight: 500
      font-size: 20px
      line-height: 24px
      color: #000
      border: 2px solid $lightGreen
      margin-right: 25px
      border-radius: 10px
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 22px
      @media screen and ( max-width: 550px )
        margin-bottom: 10px
      a
        display: flex
        color: #000
        padding: 20px 30px
        @media screen and ( max-width: 550px )
          padding: 15px

  &-product
    color: #231F20
    padding-left: 6px
  &-img
    margin-left: 85px
    display: flex
    flex-direction: column
    justify-content: flex-end
    @media screen and ( max-width: 1200px )
      max-width: 50%
      margin-left: 0px
      img
        width: 100%
        object-fit: cover
    @media screen and ( max-width: 1100px )
      position: absolute
      bottom: 0
      right: 0
      max-width: 40%
    @media screen and ( max-width: 767px )
      display: none
    img
      display: block
  &-connect
    margin-top: 38px
    padding: 57px 73px 57px 62px
    display: flex
    flex-direction: row
    background-color: #fff
    border-radius: 30px
    margin-bottom: 97px
    @media screen and ( max-width: 1620px )
      padding: 50px 30px
      margin-left: auto
      margin-right: auto
      justify-content: space-between
      .banner-form
        flex-wrap: wrap
      .form-button
        margin-left: 0px
      .form-block
        margin-bottom: 10px
    @media (max-width: 1366px)
      flex-direction: column
      .banner-form
        justify-content: center
    @media (max-width: 767px)
      .form-block
        margin-right: 0px
    @media screen and ( max-width: 550px )
      padding: 20px

    &__wrapper
      margin-right: 116px
      @media screen and ( max-width: 1620px )
        margin-right: 20px
      @media (max-width: 1366px)
        display: flex
        flex-direction: column
        align-items: center
      @media screen and ( max-width: 1100px )
        margin-right: 0px
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
    &__heading
      font-weight: 700
      font-size: 44px
      line-height: 46px
      color: #000
      max-width: 380px
      margin-bottom: 28px
      @media screen and ( max-width: 1620px )
        max-width: none
      @media screen and ( max-width: 1100px )
        margin-right: 20px
      @media screen and ( max-width: 1366px )
        text-align: center
      @media screen and ( max-width: 550px )
        font-size: 26px
        line-height: 34px
    &__contact
      padding: 18px 34px
      border-radius: 10px
      background-color: rgba(132, 219, 128, 0.3)
      display: inline-flex
      flex-direction: row
      align-items: center
      @media screen and ( max-width: 550px )
        p
          display: none
    &__whatsapp
      color: $lightGreen
      padding-left: 24px
      margin-left: 18px
      position: relative
      @media screen and ( max-width: 550px )
        margin-left: 0px
      &::before
        content: ""
        width: 16px
        height: 16px
        background-image: url(/app/build/img/whatsapp.svg)
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        top: 0
        left: 0
    &__text
      font-size: 19px
      line-height: 31px
      font-weight: 400
      color: #000
      margin-top: 30px
      max-width: 530px
      margin-bottom: 28px
      @media (max-width: 1366px)
        max-width: none
        text-align: center
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 24px
    &__desc
      margin-top: 11px
    .form-button
      margin-left: auto
      @media screen and ( max-width: 1100px )
        margin-left: 0px
      button
        padding: 16px 31px 15px 31px
        font-weight: 400
        font-size: 16px
    &__form
      flex-grow: 1
      @media screen and ( max-width: 1620px )
        flex-grow: unset
      @media screen and ( max-width: 1366px )
        display: flex
        flex-direction: column
        align-items: center
  // banner-form
  &-form
    display: flex
    flex-direction: row
    @media screen and ( max-width: 950px )
      flex-wrap: wrap
    .form-block
      width: 342px
      @media screen and ( max-width: 1100px )
        width: auto
      @media screen and ( max-width: 1100px )
        margin-bottom: 10px
      @media screen and ( max-width: 767px )
        width: 100%
    .form-input
      width: 100%
  // banner-callback
  &-callback
    max-width: 1200px
    margin: 0 auto
    background-color: #fff
    padding: 62px 62px 70px
    position: relative
    border-radius: 30px
    display: flex
    flex-direction: column
    align-items: flex-start
    overflow: hidden
    @media screen and ( max-width: 950px )
      padding: 30px
    &__tagline
      font-size: 44px
      line-height: 46px
      font-weight: 700
      color: #000
      max-width: 565px
      z-index: 1
      @media screen and ( max-width: 950px )
        max-width: none
      @media screen and ( max-width: 550px )
        font-size: 26px
        line-height: 34px
    .banner-connect__contact
      margin-top: 42px
    .banner-connect__text
      margin-top: 44px
      margin-bottom: 41px
    .banner-form
      @media screen and ( max-width: 1200px )
        flex-wrap: wrap
      .form-block
        width: 328px
        @media screen and ( max-width: 1200px )
          margin-bottom: 10px
          width: auto
        @media screen and ( max-width: 767px )
          width: 100%
          margin-right: 0px

    .form-button
      margin-left: 12px
      @media screen and ( max-width: 1200px )
        margin-left: 0px
      button
        font-size: 16px
        font-weight: 400
        padding-left: 57px
        padding-top: 16px
        padding-right: 55px
        padding-bottom: 16px
        @media screen and ( max-width: 767px )
          padding: 16px 20px
    &__text
      font-size: 18px
      line-height: 36px
      color: #2C2C2C
      margin-top: 10px
    &__img
      width: 468px
      height: 294px
      position: absolute
      top: -52px
      right: -63px
      z-index: 0
      @media screen and ( max-width: 950px )
        display: none
      img
        width: 100%
        height: 100%
        object-fit: contain
        display: block
