.banner
  border-radius: 30px
  &-sale
    width: 100%
    display: flex
    flex-direction: row
    background-color: rgba(132, 219, 128, 0.26)
  &-wrapper
    padding-top: 85px
    padding-left: 60px
    padding-bottom: 60px
  &-heading
    font-weight: 700
    font-size: 80px
    color: $lightGreen
    margin-bottom: 65px
  &-advantages
    display: flex
    flex-direction: row
    margin-bottom: 80px
    &__item
      font-weight: 500
      font-size: 20px
      line-height: 24px
      color: #000
      padding: 20px 30px
      border: 2px solid $lightGreen
      margin-right: 25px
      border-radius: 10px
  &-product
    color: #231F20
  &-img
    margin-left: 85px
  // banner-connect
  &-connect
    margin-top: 38px
    padding: 57px 62px
    display: flex
    flex-direction: row
    background-color: #fff
    border-radius: 30px
    margin-bottom: 97px
    &__wrapper
      margin-right: 116px
    &__heading
      font-weight: 700
      font-size: 44px
      line-height: 46px
      color: #000
      max-width: 380px
      margin-bottom: 28px
    &__contact
      padding: 10px 34px
      border-radius: 10px
      background-color: rgba(132, 219, 128, 0.3)
      display: flex
      flex-direction: row
    &__whatsapp
      color: $lightGreen
      padding-left: 24px
      margin-left: 18px
      position: relative
      &::before
        content: ""
        width: 16px
        height: 16px
        background-image: url(/app/build/img/whatsapp.svg)
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        top: 0
        left: 0
    &__text
      font-size: 19px
      line-height: 31px
      font-weight: 400
      color: #000
      margin-top: 30px
      max-width: 530px
      margin-bottom: 28px
    &__desc
      margin-top: 11px
  // banner-form
  &-form
    display: flex
    flex-direction: row
    .form-block
      width: 342px
    .form-input
      width: 100%
  // banner-callback
  &-callback
    max-width: 1200px
    margin: 0 auto
    background-color: #fff
    padding: 62px 62px 70px
    position: relative
    border-radius: 30px
    display: flex
    flex-direction: column
    align-items: flex-start
    &__tagline
      font-size: 44px
      line-height: 46px
      font-weight: 700
      color: #000
      max-width: 565px
      margin-bottom: 42px
    &__img
      width: 468px
      height: 294px
      position: absolute
      top: -52px
      right: -63px
      img
        width: 100%
        height: 100%
        object-fit: contain
        display: block