.form
  &-input
    padding: 18px 20px
    background-color: $gray
    border-radius: 10px
    font-size: 16px
    line-height: 24px
    color: #000
    border: none
    &::placeholder
      color: #C5C5C5
  &-block
    margin-right: 32px
  &-desc
    color: #C5C5C5
    font-size: 11px
    line-height: 16px
    a
      color: #000


.btn
  padding: 10px 30px
  font-size: 16px
  line-height: 24px
  font-weight: 600
  border-radius: 10px
  &--green
    color: #fff
    background-color: $lightGreen
