.header
  padding-top: 60px
  margin-bottom: 72px
  &-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  &-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  &-nav
    margin-left: 86px
    &__list
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
    &__item
      margin-right: 46px
  &-lk
    margin-right: 30px
    padding-right: 17px
  &-button
    margin-right: 67px
  &-products
    cursor: pointer
    a
      position: relative
      padding-right: 40px
      &::after
        content: ""
        width: 22px
        height: 4px
        display: block
        position: absolute
        top: calc(50% - 2px)
        right: 0px
        background-image: url(/app/build/img/header-products.svg)
        background-repeat: no-repeat
        background-size:  cover

  a
    font-size: 16px
    line-height: 19px
    font-weight: 600
    color: #000
