.partners
  margin-top: 42px
  &-list
    display: flex
    flex-direction: row
    justify-content: space-between
  &-item
    width: 225px
    height: 225px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    &:first-child
      justify-content: flex-start
    &:last-child
      justify-content: flex-end
      

