.reviews
  &-announce
    margin-top: 125px
    display: flex
    flex-direction: row
    justify-content: space-between
    @media screen and ( max-width: 1200px )
      flex-direction: column
    @media screen and ( max-width: 767px )
      margin-top: 50px
    &__wrapper
      width: calc(50% - 16px)
      @media screen and ( max-width: 1200px )
        width: 100%
  &-banner
    border-radius: 30px
    border: 2px solid #dedbd7
    padding: 88px 30px 88px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    height: 100%
    @media screen and ( max-width: 1200px )
      padding: 50px 30px
    @media screen and ( max-width: 550px )
      flex-direction: row
      flex-wrap: wrap
      justify-content: flex-start
      align-items: flex-start
      padding: 30px
    &__img
      margin-bottom: 40px
      margin-left: 76px
      @media screen and ( max-width: 550px )
        width: 100%
        margin: 0px
        margin-bottom: 20px
        max-width: 238px
        img
          width: 100%
          object-fit: cover
    &__heading
      font-size: 70px
      line-height: 79px
      font-weight: 700
      color: #000
      margin-bottom: 40px
      text-align: center
      @media screen and ( max-width: 1365px )
        font-size: 40px
        line-height: 50px
      @media screen and ( max-width: 1000px )
        font-size: 30px
        line-height: 40px
      @media screen and ( max-width: 767px )
        font-size: 25px
        line-height: 35px
        text-align: left
    &__link
      a
        padding: 10px 24px 10px 23px
        font-weight: 400
        font-size: 16px
        display: inline-block
  &-list
    padding: 37px 53px
    @media screen and ( max-width: 767px )
      padding: 0px
      margin-top: 20px
  &-item
    margin-bottom: 100px
    @media screen and ( max-width: 1200px )
      margin-bottom: 30px
    &:last-child
      margin-bottom: 0px
    &__href
      display: flex
      flex-direction: row
    &__img
      max-width: 129px
      max-height: 129px
      width: 100%
      height: 100%
      border-radius: 30px
      overflow: hidden
      margin-right: 42px
      @media screen and ( max-width: 767px )
        margin-right: 15px
      @media screen and ( max-width: 450px )
        max-width: 80px
        max-height: 80px
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__wrapper
      margin-top: 13px
    &__play
      font-size: 16px
      line-height: 24px
      font-weight: 400
      color: rgba(0, 0, 0, 0.21)
      margin-bottom: 22px
      padding-left: 38px
      position: relative
      &::before
        content: ""
        width: 26px
        height: 26px
        display: block
        background-image: url(/app/build/img/icon-play.svg)
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        top: 0
        left: 0
    &__text
      font-size: 22px
      line-height: 28px
      font-weight: 500
      color: #000
      @media screen and ( max-width: 767px )
        font-size: 18px
        line-height: 22px
      @media screen and ( max-width: 550px )
        font-size: 16px
        line-height: 20px
