.content-slider
  &__heading
    font-weight: 700
    font-size: 40px
    color: #000
    margin-top: 80px
    margin-bottom: 50px

.instagram
  &-item
    height: 358px
    position: relative
    overflow: hidden
    border-radius: 30px
    &__img
      width: 100%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
    &__wrapper
      position: absolute
      bottom: 17px
      left: 17px
      display: flex
      background-color: rgba(255, 255, 255, 0.2)
      border-radius: 30px
      -webkit-backdrop-filter: blur(10px)
      padding: 3px 20px 3px 46px
      z-index: 1
    &__avatar
      display: block
      width: 34px
      height: 34px
      border-radius: 50%
      overflow: hidden
      position: absolute
      top: 0
      left: 0
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__nickname
      font-size: 14px
      font-weight: 600
      line-height: 28px
      color: #000



.command
  &-item
    &__img
      overflow: hidden
      border-radius: 30px
      width: 100%
      height: 376px
      margin-bottom: 33px
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__name
      font-size: 22px
      line-height: 28px
      margin-bottom: 1px
    &__position
      font-size: 14px
      line-height: 24px
      color:#A2A2A2


.reviews
  &-slide
    &__img
      overflow: hidden
      border-radius: 30px
      width: 100%
      height: 430px
      margin-bottom: 30px
      position: relative
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__text
      font-size: 22px
      line-height: 28px
      color:#000
    &__button
      width: 58px
      height: 58px
      position: absolute
      top: calc(50% - 29px)
      left: calc(50% - 29px)
      button
        width: 100%
        height: 100%
        svg
          width: 100%
          height: 100%