body
  background-color: #F9F7F4
  font-family: 'Gilroy', sans-serif

.container
  max-width: 1600px
  margin: 0 auto
  @media screen and ( max-width: 1640px )
    padding: 0px 20px
    max-width: none

.content
  max-width: 1207px
  margin: 0 auto

.default
  max-width: 930px
  margin: 0 auto

.inner-text
  font-size: 16px
  line-height: 19px
  font-weight: 400
.section-title
  font-size: 40px
  font-weight: 700
  color: #000
  @media screen and ( max-width: 950px )
    font-size: 25px
    line-height: 30px
  @media screen and ( max-width: 767px )
    font-size: 22px
    line-height: 28px
  @media screen and ( max-width: 400px )
    font-size: 18px
    line-height: 22px

.page-title
  text-align: center
  padding: 0px 20px
  margin-bottom: 42px
  @media screen and ( max-width: 400px )
    padding: 0px
  h1
    font-size: 54px
    line-height: 64px
    font-weight: 700
    color: #000
    @media screen and ( max-width: 950px )
      font-size: 48px
      line-height: 54px
    @media screen and ( max-width: 767px )
      font-size: 40px
      line-height: 48px
    @media screen and ( max-width: 400px )
      font-size: 28px
      line-height: 32px

.inner-page
  margin-top: 90px
  @media screen and ( max-width: 767px )
    margin-top: 45px

.no-overflow
  overflow: hidden !important

.bubble-link
  width: 80px
  height: 80px
  border-radius: 50%
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $lightGreen
  @media screen and ( max-width: 767px )
    width: 50px
    height: 50px

.not-found
  margin-top: 300px
  margin-bottom:300px
  @media screen and ( max-height: 767px )
    margin-top: 200px
    margin-bottom: 200px
  @media screen and ( max-height: 550px )
    margin-top: 100px
    margin-bottom: 100px
  p
    font-size: 54px
    line-height: 64px
    text-align: center
    font-weight: 700
    color: #000

button, input, textarea
  font-family: 'Gilroy'