body
  background-color: #F9F7F4
  font-family: 'Gilroy', sans-serif

.container
  max-width: 1600px
  margin: 0 auto

.content
  max-width: 1200px
  margin: 0 auto

.default
  max-width: 930px
  margin: 0 auto

.inner-text
  font-size: 16px
  line-height: 19px
  font-weight: 400
.section-title
  font-size: 40px
  font-weight: 700
  color: #000

.page-title
  text-align: center
  padding: 0px 20px
  margin-bottom: 42px
  h1
    font-size: 54px
    line-height: 64px
    font-weight: 700
    color: #000