.about
  &-announce
    display: flex
    flex-direction: row
    &__img
      @media screen and ( max-width: 1500px )
        max-width: 50%
        margin-left: auto
        img
          width: 100%
      @media screen and ( max-width: 1200px )
        display: none
    &__wrapper
      margin-right: 110px
      @media screen and ( max-width: 1200px )
        margin-right: 0px
        width: 100%
      .bubble-link
        margin-top: auto
        @media screen and ( max-width: 1365px )
          margin-top: 30px
    &__tagline
      font-size: 70px
      line-height: 80px
      font-weight: 700
      max-width: 555px
      margin-top: 91px
      position: relative
      z-index: 2
      @media screen and ( max-width: 1200px )
        max-width: none
        margin-top: 0px
      @media screen and ( max-width: 1000px )
        font-size: 50px
        line-height: 60px
      @media screen and ( max-width: 767px )
        font-size: 28px
        line-height: 38px

      &::before
        content: ""
        position: absolute
        width: 214px
        height: 92px
        display: block
        background-image: url(/app/build/img/logo-circle.svg)
        background-repeat: no-repeat
        background-size: cover
        bottom: -8px
        left: -13px
        z-index: -1

    &__text
      margin-top: 33px
      margin-bottom: 80px
      font-size: 16px
      line-height: 30px
      font-weight: 400
      max-width: 515px
      @media screen and ( max-width: 1200px )
        max-width: none
        margin-bottom: 30px
    &__link
      a
        padding: 10px 24px 10px 23px
        font-weight: 400
        font-size: 16px
        display: inline-block
    .breadcrumbs-list
      justify-content: flex-start
      padding-left: 0px
    &--page
      margin-top: 92px
      @media screen and ( max-width: 767px )
        margin-top: 0px
      .about-announce__wrapper
        padding-top: 22px
        margin-right: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        @media screen and ( max-width: 1500px )
          max-width: 50%
        @media screen and ( max-width: 1200px )
          max-width: none
      .about-announce__tagline
        max-width: none
        font-size: 60px
        line-height: 68px
        margin-top: 50px
        @media screen and ( max-width: 1200px )
          max-width: none
          margin-top: 0px
        @media screen and ( max-width: 1000px )
          font-size: 50px
          line-height: 60px
        @media screen and ( max-width: 767px )
          font-size: 28px
          line-height: 38px
          text-align: center
        &::before
          display: none

  &-ask
    display: flex
    flex-direction: row
    margin-top: 153px
    margin-bottom: 128px
    @media screen and ( max-width: 950px )
      flex-direction: column
    @media screen and ( max-width: 767px )
      margin-top: 70px
      margin-bottom: 30px
    &__wrapper
      border: 1px solid #DEDBD7
      border-radius: 30px
      padding: 93px 110px 84px
      margin-right: 90px
      margin-top: 14px
      @media screen and ( max-width: 1365px )
        padding: 50px 30px
        margin-right: 20px
      @media screen and ( max-width: 950px )
        margin-bottom: 20px
        margin-right: 0px
      @media screen and ( max-width: 767px )
        padding: 30px

.ask-director
  display: flex
  flex-direction: column
  align-items: center
  &__img
    border-radius: 30px
    overflow: hidden
    width: 376px
    height: 376px
    margin-bottom: 40px
    @media screen and ( max-width: 480px )
      width: 100%
      height: auto
    @media screen and ( max-width: 767px )
      margin-bottom: 20px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__name
    font-size: 40px
    font-weight: 700
    margin-bottom: 12px
    @media screen and ( max-width: 767px )
      font-size: 28px
      line-height: 38px
  &__position
    font-size: 16px
    line-height: 24px
    font-weight: 400
    color: #A2A2A2
    @media screen and ( max-width: 767px )
      text-align: center
.ask
  &-item
    display: flex
    flex-direction: column
    margin-bottom: 88px
    @media screen and ( max-width: 1365px )
      margin-bottom: 40px
    &:last-child
      margin-bottom: 0px
    &__top
      display: flex
      flex-direction: row
      align-items: flex-start
      margin-bottom: 32px
    &__img
      width: 80px
      height: 99px
      margin-right: 26px
      @media screen and ( max-width: 767px )
        display: none
      img
        width: 100%
        height: 100%
        object-fit: contain

    &__question
      border-radius: 30px
      background-color: #fff
      padding: 15px 42px 20px 37px
      position: relative
      margin-top: 19px
      @media screen and ( max-width: 1365px )
        padding: 20px
      &::before
        content: ""
        width: 65px
        height: 24px
        display: block
        background-image: url(/app/build/img/ask-cloud.svg)
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        top: 0
        left: -15px
      p
        font-size: 22px
        line-height: 45px
        font-weight: 600
        color: #000
        @media screen and ( max-width: 1365px )
          line-height: 30px

    &__name
      font-size: 22px
      line-height: 28px
      font-weight: 600
      color: #000
      margin-bottom: 9px
    &__answer
      font-size: 16px
      line-height: 29px
      font-weight: 400
      color: #2C2C2C
      max-width: 770px

.numbers
  margin-top: 130px
  margin-bottom: 173px
  @media screen and ( max-width: 550px )
    margin-top: 50px
    margin-bottom: 0px
  &-list
    display: flex
    flex-direction: row
    @media screen and ( max-width: 767px )
      flex-direction: column
  &-item
    padding: 9px 70px
    border-right: 1px solid #DEDBD7
    width: calc(100% / 4)
    @media screen and ( max-width: 1200px )
      padding: 0px 20px
    @media screen and ( max-width: 767px )
      width: 100%
      border: none
      margin-bottom: 30px
    &:last-child
      border-right: none
    &__num
      font-size: 50px
      color: $lightGreen
      margin-bottom: 45px
      text-align: center
      font-weight: 700
      @media screen and ( max-width: 767px )
        margin-bottom: 10px
    &__text
      font-size: 16px
      line-height: 24px
      color: #2C2C2C
      font-weight: 400
      text-align: center
  .section-title
    text-align: center
    margin-bottom: 95px
    @media screen and ( max-width: 550px )
      margin-bottom: 30px
