.contacts
  display: flex
  flex-direction: row
  margin-top: 80px
  @media screen and ( max-width: 1365px )
    flex-direction: column
  &-wrapper
    max-width: 515px
    margin-right: 35px
    width: 100%
    @media screen and ( max-width: 1365px )
      max-width: none
      display: flex
      flex-wrap: wrap
    @media screen and ( max-width: 767px )
      flex-direction: column
  &-office
    display: flex
    flex-direction: column
    @media screen and ( max-width: 1365px )
      margin-right: 40px
    @media screen and ( max-width: 767px )
      margin-right: 0px
  &-soon
    margin-top: 43px
    padding-left: 48px
    @media screen and ( max-width: 1365px )
      margin-top: 0px
      margin-right: 40px
      padding-left: 0px
    @media screen and ( max-width: 767px )
      margin-right: 0px
    &__title
      font-size: 14px
      line-height: 16px
      font-weight: 500
      color: #A2A2A2,
      margin-bottom: 16px
    &__list
      display: flex
      flex-direction: column
      margin-bottom: 42px
      @media screen and ( max-width: 767px )
        margin-bottom: 20px
  &-soclinks
    display: flex
    flex-direction: row
    padding-left: 48px
    @media screen and ( max-width: 1365px )
      padding-left: 0px
    @media screen and ( max-width: 767px )
      margin-bottom: 20px
    &__item
      margin-right: 12px
  &-map
    border-top: 1px solid #DEDBD7
    @media screen and ( max-width: 1365px )
      width: 100%
      img
        width: 100%
  & + .banner-connect
    margin-top: 120px
.office
  &-item
    border-radius: 30px
    background-color: #fff
    padding: 39px 48px
    display: flex
    flex-direction: column
    margin-bottom: 18px
    @media screen and ( max-width: 767px )
      padding: 30px
    @media screen and ( max-width: 550px )
      padding: 20px
  &-address
    font-size: 16px
    line-height: 19px
    font-weight: 700
    color: $lightGreen
    margin-bottom: 12px
  &-number, &-email
    font-size: 14px
    line-height: 16px
    color: #000
    margin-bottom: 6px
.soon
  &-item
    font-size: 16px
    line-height: 31px
    font-weight: 700
    color: $lightGreen
