.product
  &-header
    border-radius: 30px
    width: 100%
    height: 432px
    padding-left: 250px
    display: flex
    flex-direction: row
    position: relative
    margin-bottom: 73px
    &--green
      background: linear-gradient(69.02deg, rgba(40, 177, 32, 0.3) -1.07%, rgba(40, 177, 32, 0.06) 36.44%), linear-gradient(256.02deg, rgba(40, 177, 32, 0.25) -3.33%, rgba(40, 177, 32, 0) 26.22%), #84DB80
      .breadcrumbs-item
        a
          color: $lightGreen
    &--red
      background: linear-gradient(76.05deg, #EA7370 -0.96%, rgba(255, 216, 215, 0) 41.35%), linear-gradient(256.02deg, rgba(242, 177, 174, 0.59) -3.33%, rgba(255, 216, 215, 0) 26.22%), #EA7370
      .breadcrumbs-item
        a
          color: #EA7370
    &--blue
      background: linear-gradient(76.05deg, #82CDFF -0.96%, rgba(89, 182, 245, 0) 41.35%), linear-gradient(256.02deg, #88CFFF -3.33%, rgba(89, 182, 245, 0) 26.22%), #59B6F5
      .breadcrumbs-item
        a
          color: #59B6F5
      .product-header__desc
        max-width: 480px
    &__wrapper
      padding-top: 88px
      padding-bottom: 74px
      position: relative
      display: flex
      flex-direction: column
      z-index: 1
      .breadcrumbs-list
        justify-content: flex-start
        padding-left: 0
      .breadcrumbs-item
        padding: 0px
        margin-left: 0px
        margin-right: 10px
        display: flex
        border-radius: 5px
        overflow: hidden
        a
          padding: 4px 6px
          background-color: #fff
          font-size: 12px
          line-height: 14px
        &.active
          a
            background-color: rgba(255, 255, 255, 0.3)
        &::before
          display: none
    &__title
      font-size: 80px
      font-weight: 700
      color: #fff

      margin-top: 40px
    &__desc
      font-size: 20px
      line-height: 32px
      font-weight: 400
      color: #fff
      margin-top: auto
      margin-bottom: 0px
      max-width: 380px
    &__background
      position: absolute
      top: 0
      right: 0
      z-index: 0
    &__img
      width: 500px
      height: auto
      display: flex
      justify-content: center
      position: relative
      z-index: 1
  &-advantages
    display: flex
    flex-direction: row
    margin-top: 65px
    &__item
      padding: 20px 30px
      border: 2px solid #fff
      border-radius: 10px
      margin-right: 25px
      color: #fff
      font-size: 20px
      font-weight: 500
  // product-types
  &-types
    display: flex
    &--row
      flex-direction: row
      justify-content: space-between
      .product-types__item
        width: calc(100% / 3)
        margin-right: 34px
        border-radius: 30px
        background-color: #fff
        &:last-child
          margin-right: 0px
      .type-item__wrapper
        display: flex
        flex-direction: column
        width: 100%
    &--column
      flex-direction: column
      justify-content: flex-start
      max-width: 1200px
      margin: 0 auto
      .product-types__item
        width: 100%
        margin-right: 0px
        border-radius: 30px
        background-color: #fff
        margin-bottom: 55px
      .type-item__wrapper
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        width: 100%
        padding: 44px 62px 56px
      .type-item__desc
        padding: 0px
        box-shadow: none
        max-width: 385px
        display: flex
        flex-direction: column
      .type-package__list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 38px
        &--numbers
          .package-item
            margin-bottom: 40px
            &::before
              display: none
            &__num
              border-radius: 50%
              width: 50px
              height: 50px
              background-color: #DFF6DE
              display: flex
              justify-content: center
              align-items: center
              font-size: 18px
              line-height: 24px
              color: #000
              position: absolute
              top: calc(50% - 25px)
              left: 0

      .package-item
        border-top: none
        padding: 0px 0px 0px 70px
        position: relative
        width: calc(50% - 50px)
        margin-bottom: 20px
        &::before
          content: ""
          width: 33px
          height: 33px
          display: block
          position: absolute
          top: calc(50% - 16.5px)
          left: 0px
          background-image: url(/app/build/img/red-plus.svg)
          background-repeat: no-repeat




.type
  &-item
    &__img
      border-radius: 30px
      display: flex
      flex-direction: row
      justify-content: center
      &--green
        background-color: #84DB81
        height: 377px
      &--red
        background-color: #EA7370
        height: 100%
    &__desc
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
      border-radius: 30px
      background-color: #fff
      padding: 44px 62px 56px
    &__name
      font-size: 14px
      line-height: 22px
      color: #000
      margin-bottom: 8px
    &__tagline
      font-size: 28px
      line-height: 34px
      font-weight: 700
      color: #2C2C2C
      margin-bottom: 40px
    &__text
      font-size: 16px
      line-height: 26px
      font-weight: 400
      color: #000
      margin-bottom: 37px
    &__words
      display: flex
      flex-direction: row
      p
        font-size: 16px
        line-height: 20px
        font-weight: 700
        color: #84DB81
        margin-right: 35px
        margin-bottom: 0px
        &:last-child
          margin-right: 0px
    &__more
      display: flex
      flex-direction: row
      justify-content: flex-start
      margin-top: auto
      p
        position: relative
        font-size: 16px
        line-height: 26px
        font-weight: 400
        color: #2C2C2C
        margin-bottom: 0px
        padding-right: 15px
        &::after
          content: ""
          width:8px
          height: 4px
          display: block
          position: absolute
          top: 11px
          right: 0
          background-image: url(/app/build/img/icon-arrow-down.svg)
          background-repeat: no-repeat
          background-size: cover
  // type-package
  &-package
    padding: 44px 62px
    &__title
      font-size: 28px
      line-height: 45px
      color: #2C2C2C
      font-weight: 700
      margin-bottom: 0px
    &__text
      font-size: 18px
      line-height: 34px
      font-weight: 400
      color:#2C2C2C
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0px
      &--strong
        font-weight: 600
        margin-bottom: 5px
    &__desc
      border-top: 1px solid #E5E5E5
      padding-top: 32px
.package-item
  border-top: 1px solid #E5E5E5
  padding: 40px 0px 40px 70px
  position: relative
  &::before
    content: ""
    width: 33px
    height: 33px
    display: block
    position: absolute
    top: calc(50% - 16.5px)
    left: 0px
    background-image: url(/app/build/img/green-plus.svg)
    background-repeat: no-repeat
  &:first-child
    border-top: none
  &__title
    font-size: 16px
    line-height: 24px
    font-weight: 600
    color: #2C2C2C
    margin-bottom: 2px
  &__text
    font-size: 14px
    line-height: 24px
    color: #2C2C2C
    margin-bottom: 0px

.type--open
  .type-item__wrapper
    border-radius: 30px
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
  .banner-callback
    box-shadow: 0px 0px 30px #F9F7F4

.video-section
  margin-top: 100px
  margin-bottom: 100px
  .section-title
    max-width: 761px
    text-align: center
    margin: 0 auto
  .video-container
    max-width: 1000px
    margin: 0 auto
    margin-top: 60px