.product
  &-header
    border-radius: 30px
    width: 100%
    height: 432px
    padding-left: 250px
    display: flex
    flex-direction: row
    position: relative
    margin-bottom: 73px
    overflow: hidden
    @media screen and ( max-width: 1365px )
      padding-left: 100px
    @media screen and ( max-width: 950px )
      padding-left: 50px
      padding-right: 30px
    @media screen and ( max-width: 767px )
      height: auto
    @media screen and ( max-width: 550px )
      padding-left: 30px
    &--green
      background: linear-gradient(69.02deg, rgba(40, 177, 32, 0.3) -1.07%, rgba(40, 177, 32, 0.06) 36.44%), linear-gradient(256.02deg, rgba(40, 177, 32, 0.25) -3.33%, rgba(40, 177, 32, 0) 26.22%), #84DB80
      .breadcrumbs-item
        a
          color: $lightGreen
    &--red
      background: linear-gradient(76.05deg, #EA7370 -0.96%, rgba(255, 216, 215, 0) 41.35%), linear-gradient(256.02deg, rgba(242, 177, 174, 0.59) -3.33%, rgba(255, 216, 215, 0) 26.22%), #EA7370
      .breadcrumbs-item
        a
          color: #EA7370
    &--blue
      background: linear-gradient(76.05deg, #82CDFF -0.96%, rgba(89, 182, 245, 0) 41.35%), linear-gradient(256.02deg, #88CFFF -3.33%, rgba(89, 182, 245, 0) 26.22%), #59B6F5
      .breadcrumbs-item
        a
          color: #59B6F5
      .product-header__desc
        max-width: 480px
    &--orange
      background: linear-gradient(76.05deg, #FFD089 -0.96%, rgba(255, 234, 203, 0) 41.35%), linear-gradient(256.02deg, #FFEACB -3.33%, rgba(255, 201, 121, 0) 26.22%), #F3B75E
      .breadcrumbs-item
        a
          color: #F3B75E
    &--purple
      background: linear-gradient(76.05deg, rgba(138, 135, 246, 0.5) -0.96%, rgba(138, 135, 246, 0) 41.35%), linear-gradient(256.02deg, rgba(138, 135, 246, 0.5) -3.33%, rgba(138, 135, 246, 0) 26.22%), #8A87F6
      .breadcrumbs-item
        a
          color: #8A87F6
    &__wrapper
      padding-top: 88px
      padding-bottom: 74px
      position: relative
      display: flex
      flex-direction: column
      z-index: 1
      @media screen and ( max-width: 767px )
        padding: 20px 0px
      .breadcrumbs-list
        justify-content: flex-start
        padding-left: 0
      .breadcrumbs-item
        padding: 0px
        margin-left: 0px
        margin-right: 10px
        display: flex
        border-radius: 5px
        overflow: hidden
        a
          padding: 4px 8px 4px 7px
          background-color: #fff
          font-size: 12px
          line-height: 14px
        &.active
          a
            background-color: rgba(255, 255, 255, 0.3)
        &::before
          display: none
    &__title
      font-size: 80px
      font-weight: 700
      color: #fff
      margin-top: 8px
      @media screen and ( max-width: 950px )
        font-size: 48px
        line-height: 54px
      @media screen and ( max-width: 767px )
        font-size: 40px
        line-height: 48px
      @media screen and ( max-width: 400px )
        font-size: 28px
        line-height: 32px
    &__desc
      font-size: 20px
      line-height: 32px
      font-weight: 400
      color: #fff
      margin-top: auto
      margin-bottom: 0px
      max-width: 380px
    &__background
      position: absolute
      top: 0
      right: 0
      z-index: 0
    &__img
      width: 500px
      height: auto
      display: flex
      justify-content: center
      position: relative
      z-index: 1
      flex-grow: 1
      @media screen and ( max-width: 950px )
        max-width: 300px
        width: 100%
        max-height: 300px
        margin-top: auto
        img
          width: 100%
          height: 100%
          object-fit: cover
      @media screen and ( max-width: 767px )
        display: none
  &-advantages
    display: flex
    flex-direction: row
    margin-top: 51px
    @media screen and ( max-width: 767px )
      flex-direction: column
      margin-top: 10px
    &__item
      padding: 22px 30px 24px
      border: 2px solid #fff
      border-radius: 10px
      margin-right: 25px
      color: #fff
      font-size: 20px
      font-weight: 500
      @media screen and ( max-width: 767px )
        margin-bottom: 10px
        padding: 18px
  // product-types
  &-types
    display: flex
    &--row
      flex-direction: row
      justify-content: space-between
      @media screen and ( max-width: 950px )
        flex-direction: column
      .product-types__item
        width: calc(100% / 3)
        margin-right: 34px
        border-radius: 30px
        background-color: #fff
        @media screen and ( max-width: 1500px )
          width: calc( 100% / 3 - 15px)
        @media screen and ( max-width: 950px )
          width: 100%
          margin-right: 0px
          margin-bottom: 30px
        &:last-child
          margin-right: 0px
      .type-item__wrapper
        display: flex
        flex-direction: column
        width: 100%
    &--column
      flex-direction: column
      justify-content: flex-start
      max-width: 1200px
      margin: 0 auto
      .banner-callback
        box-shadow: 0px 0px 30px #F9F7F4
      .banner-callback .banner-connect__contact
        margin-top: 23px
      .banner-callback__text
        margin-top: 3px
      .banner-callback .banner-connect__text
        margin-top: 26px
      .type-package
        padding: 48px 62px
        @media screen and ( max-width: 767px )
          padding: 30px
      .type-item__name
        margin-bottom: 29px
      .type-item__tagline
        margin-bottom: 21px
      .product-types__item
        width: 100%
        margin-right: 0px
        border-radius: 30px
        background-color: #fff
        margin-bottom: 55px
      .type-item__wrapper
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        width: 100%
        padding: 49px 47px 48px 62px
        @media screen and ( max-width: 767px )
          flex-direction: column
          padding: 30px
      .type-item__desc
        padding: 0px
        box-shadow: none
        max-width: 385px
        display: flex
        flex-direction: column
        @media screen and ( max-width: 767px )
          max-width: none
          margin-top: 15px
      .type-package__text
        font-size: 16px
        line-height: 26px
        max-width: 650px
      .type-package__desc
        padding-top: 37px
      .type-package__list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 38px
        @media screen and ( max-width: 767px )
          flex-direction: column
        &--numbers
          .package-item
            margin-bottom: 40px

            &::before
              display: none
            &__num
              border-radius: 50%
              width: 50px
              height: 50px
              background-color: #DFF6DE
              display: flex
              justify-content: center
              align-items: center
              font-size: 18px
              line-height: 24px
              color: #000
              position: absolute
              top: calc(50% - 25px)
              left: 0
              @media screen and ( max-width: 767px )
                width: 30px
                height: 30px
                top: calc(50% - 15px)
          .package-item__text
            font-size: 18px

      .package-item
        border-top: none
        padding: 0 0 0 61px
        position: relative
        width: calc(50% - 10px)
        margin-bottom: 20px
        @media screen and ( max-width: 767px )
          width: 100%
          padding: 0px 0px 0px 50px
        &::before
          content: ""
          width: 33px
          height: 33px
          display: block
          position: absolute
          top: calc(50% - 28.5px)
          left: 0px
          background-image: url(/app/build/img/red-plus.svg)
          background-repeat: no-repeat
          @media screen and ( max-width: 767px )
            top: calc(50% - 16.5px)
        p
          font-size: 16px

.type
  &-item
    overflow: hidden
    &__img
      border-radius: 30px
      display: flex
      flex-direction: row
      justify-content: center
      overflow: hidden
      &--green
        background-color: #84DB81
        height: 377px
        @media screen and ( max-width: 550px )
          height: auto
      &--red
        background-color: #EA7370
        height: 100%
        @media screen and ( max-width: 550px )
          max-height: 240px
          img
            width: 100%
            height: 100%
            object-fit: cover
    &__desc
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
      border-radius: 30px
      background-color: #fff
      padding: 46px 64px 56px
      @media screen and ( max-width: 1365px )
        padding: 30px
    &__name
      font-size: 14px
      line-height: 22px
      color: #000
      margin-bottom: 8px
    &__tagline
      font-size: 28px
      line-height: 34px
      font-weight: 700
      color: #2C2C2C
      margin-bottom: 40px
    &__text
      font-size: 16px
      line-height: 26px
      font-weight: 400
      color: #000
      margin-bottom: 36px
    &__words
      display: flex
      flex-direction: row
      flex-wrap: wrap
      p
        font-size: 16px
        line-height: 20px
        font-weight: 700
        color: #84DB81
        margin-right: 35px
        margin-bottom: 0px
        &:last-child
          margin-right: 0px
    &__more
      display: flex
      flex-direction: row
      justify-content: flex-start
      margin-top: auto
      p
        position: relative
        font-size: 16px
        line-height: 26px
        font-weight: 400
        color: #2C2C2C
        margin-bottom: 0px
        padding-right: 15px
        &::after
          content: ""
          width: 8px
          height: 4px
          display: block
          position: absolute
          top: 11px
          right: 0
          background-image: url(/app/build/img/icon-arrow-down.svg)
          background-repeat: no-repeat
          background-size: cover
  // type-package
  &-package
    padding: 44px 62px
    @media screen and ( max-width: 1365px )
      padding: 30px

    &--orange
      .package-item
        &::before
          background-image: url(/app/build/img/orange-plus.svg)
    &--purple
      padding: 65px 62px 40px
      .package-item__text
        font-size: 16px
      .package-item
        &::before
          background-image: url(/app/build/img/purple-plus.svg)
    &--banner
      background-color: #fff
      border-radius: 30px
      margin-bottom: 60px
      position: relative
      .type-package__title
        line-height: 36px
        margin-bottom: 30px
      .package-item
        padding-top: 0
        padding-bottom: 0px
        border-top: none
        margin-bottom: 30px
      .type-package__list
        margin-top: 30px
    &__title
      font-size: 28px
      line-height: 45px
      color: #2C2C2C
      font-weight: 700
      margin-bottom: 0px
    &__text
      font-size: 18px
      line-height: 34px
      font-weight: 400
      color: #2C2C2C
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0px
      &--strong
        font-weight: 600
        margin-bottom: 5px
      &--absolute
        font-size: 16px
        line-height: 22px
        position: absolute
        bottom: 70px
        right: 87px
        @media screen and ( max-width: 1366px )
          position: relative
          bottom: auto
          right: auto
    &__desc
      border-top: 1px solid #E5E5E5
      padding-top: 32px
.package-item
  border-top: 1px solid #E5E5E5
  padding: 31px 0 40px 70px
  position: relative
  @media screen and ( max-width: 950px )
    padding: 20px 0px 20px 50px
  &::before
    content: ""
    width: 33px
    height: 33px
    display: block
    position: absolute
    top: calc(50% - 16.5px)
    left: 0px
    background-image: url(/app/build/img/green-plus.svg)
    background-repeat: no-repeat
  &:first-child
    border-top: none
  &__title
    font-size: 16px
    line-height: 24px
    font-weight: 600
    color: #2C2C2C
    margin-bottom: 2px
  &__text
    font-size: 14px
    line-height: 24px
    color: #2C2C2C
    margin-bottom: 0px

.type--open
  .type-item__wrapper
    border-radius: 30px
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
  .banner-callback
    box-shadow: 0px 0px 30px #F9F7F4

.video-section
  margin-top: 138px
  margin-bottom: 100px
  @media screen and ( max-width: 767px )
    margin-top: 50px
    margin-bottom: 50px
  .section-title
    max-width: 761px
    text-align: center
    margin: 0 auto
  .video-container
    max-width: 1000px
    margin: 0 auto
    margin-top: 73px
    @media screen and ( max-width: 767px )
      margin-top: 20px

.two-list
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-top: 100px
  margin-bottom: 100px
  @media screen and ( max-width: 950px )
    flex-direction: column
  .type-package
    background-color: #fff
    width: calc(50% - 15px)
    border-radius: 30px
    padding: 59px 62px 52px
    @media screen and ( max-width: 950px )
      width: 100%
      padding: 30px
      margin-bottom: 30px
  .type-package__title
    font-size: 28px
    line-height: 36px
    margin-bottom: 25px
  .package-item__text
    font-size: 16px
  .package-item
    min-height: 143px
    display: flex
    align-items: center
